{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
  <div class="card-group row-cols-4">
    {% for review in reviews %}
      <div class="col p-3">
        <div class="card">
          {% if review.image %}
            <img src="{{ review.image.url }}" class="card-img-top">
          {% else %}
            <img src="https://dummyimage.com/900x1200/000000/c4c4c4" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">제목 :
              <a class="title_link" href="{% url 'reviews:detail' review.pk %}">
                {{ review.title }}</a>
            </h5>
            <div class="card-footer">
              <small class="text-muted">작성자 :
                {{ review.user }}
                조회수 :
                {{ review.hits }}</small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endblock %}
