{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/993057372455043102/1019519216929476619/unknown.png">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8 /swiper-bundle.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/index.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <!-- navbar(swiper-slide)-->
    <div class="a">
      <div class="fixed-top">
        <nav class="navbar navbar-expand-lg p-0 bg-light">
          <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarTogglerDemo01">
              <div class="d-flex align-items-center">
                <a class="navbar-brand mr-2 text-dark" href="{% url 'restaurants:index' %}">밥사조</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active p-0 text-dark" aria-current="page" href="{% url 'restaurants:index' %}">KDT NO.1 맛집 서비스</a>
                  </li>
                </ul>
              </div>

              <div class="class">
                <form action="">
                  <div class="search-bar input-group">
                    <input class="form-control rounded-2 text-left btn-lg" type="text" style="min-width: 400px;" placeholder="돈 주고 별 사는 서비스는 그만! 후기들은 만드는 찐 별맛집" aria-label="Search">
                    <button type="button" class="btn" style="background-color: #C8A666">
                      <i class="bi bi-search"></i>
                    </button>
                  </div>
                </form>
              </div>
              <div>
                <button type="button" class="btn text-center">
                  {% if user.is_active %}
                  <a href="{% url 'accounts:logout' %}" class="text-decoration-none text-black">로그아웃</a>
                  {{user.username}}
                  {% else %}
                  <a href="{% url 'accounts:login' %}" class="text-decoration-none text-black">로그인</a>
                  {% endif %}
                </button>
                <span class="badge bg-dark text-white text-decoration-none rounded-4 ms-1">0</span>
              </div>
            </div>
          </div>
        </nav>

        <!-- 다음줄-->
        <hr class="mb-1 hrs">
        <div class="col-8 d-flex justify-content-evenly m-auto mt-3 mb-3">
          <span>
            <a href="" class="text-decoration-none text-black">맛집찾기</a>
          </span>
          <span>
            <a href="" class="text-decoration-none text-black">테마</a>
          </span>
          <span>
            <a href="" class="text-decoration-none text-black">마켓</a>
          </span>
        </div>
        <!-- 표지 and 캐러셀-->
        <div class="m-0 px-4">
          <div class="d-flex justify-content-center align-items-center h-100"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 당신을 위한 이 지역 HOT 매장추천-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  <div class="container">
    <div class="row mb-3 mt-1 p-0">
      <div class="col-md-12 p-0">
        <h3>당신을 위한 이 지역 HOT 매장추천</h3>
      </div>
    </div>
    <div class="row">
      <!-- Swiper -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="row">
              {% for restaurant in restaurants %}
                <div class="col-md-3 mb-5">
                  <div class="card">
                    {% if restaurant.image %}
                      <a href="{% url 'restaurants:detail' restaurant.pk %}"><img src="{{ restaurant.image.url }}" class="card-img-top"></a>
                    {% else %}
                      <img src="https://dummyimage.com/900x1200/000000/c4c4c4" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                      <h4 class="card-title">
                        <a class="title_link text-decoration-none" href="{% url 'restaurants:detail' restaurant.pk %}">{{ restaurant.name }}</a>
                        <p class="mt-3">{{ restaurant.runtime}}</p>
                        <small class="mb-0">{{ restaurant.closing }}</small>
                      </h4>
                      <small class="text-muted">
                        조회수 :
                        {{ restaurant.hits }}</small>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--맛집 생생후기 -->
  <div style="background-color: #DCDCDC">
    <div class="container flex-row mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-3 fw-bold mt-5">맛집 생생후기</h5>
        <a href="" class="mt-4 fs-6">더보기</a>
      </div>
      <div class="row">
        <div class="card mb-3 bg-transparent border-0" style="max-width: 400px;">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="https://img.siksinhot.com/seeon/1667353298010512.jpg?w=440&h=440" class="img-fluid" style="height: 188px;" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body p-0 ms-3">
                <h5 class="card-title fw-bold">지브리파크 부럽지 않은 국내 지브리 갬성 카페 5</h5>
                <p class="card-text">'지브리 애니메이션'을 한 번이라도 봤다면...</p>
                <p class="card-text">
                  <img class="rounded-circle" src="https://img.siksinhot.com/seeon/1447234040666036.png?w=49&h=48&c=Y" alt="">
                  <small class="text-muted">Edit by
                    <span class="text-success">맛박사</span></small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 bg-transparent border-0" style="max-width: 400px;">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="https://img.siksinhot.com/seeon/1659665259107479.jpg?w=440&h=440" class="img-fluid" style="height: 188px;" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body p-0 ms-3">
                <h5 class="card-title fw-bold">발 담그고 먹는 백숙집! 전국 계곡 맛집 5곳</h5>
                <p class="card-text">오늘은 휴가철 찾기 좋은 계곡 맛집 5곳을 소개합니다.</p>
                <p class="card-text">
                  <img class="rounded-circle" src="https://img.siksinhot.com/seeon/1447234040666036.png?w=49&h=48&c=Y" alt="">
                  <small class="text-muted">Edit by
                    <span class="text-success">맛박사</span></small>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 bg-transparent border-0" style="max-width: 400px;">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="https://img.siksinhot.com/seeon/1647589095128124.jpg?w=440&h=440" class="img-fluid" style="height: 188px;" alt="...">
            </div>
            <div class="col-md-6">
              <div class="card-body p-0 ms-3">
                <h5 class="card-title fw-bold">업무추진비가 알려주는 서귀포 공무원 맛집 12곳</h5>
                <p class="card-text">3개월간의 업무추진비 자료를 분석하여...</p>
                <p class="card-text">
                  <img class="rounded-circle" src="https://img.siksinhot.com/seeon/1447234040666036.png?w=49&h=48&c=Y" alt="">
                  <small class="text-muted">Edit by
                    <span class="text-success">맛박사</span></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--최신 Trend 맛집 테마-->
  <div class="container mt-5">
    <h5 class="mb-3 fw-bold">최신 Trend 맛집 테마</h5>
    <div class="row row-cols-1 row-cols-md-4 g-5 blogBox moreBox">
      <div class="col">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1667529803099552.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">얼큰한 국물과 탱글한 식감<br>서울 알탕 맛집 BEST 5</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1667357675626545.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">육집 팡팡 터지는<br>수제버거 맛집 BEST 5</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1667353298010512.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">지브리파크 부럽지 않은<br>국내 지브리 갬성 카페 5</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1667182070877473.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">대한민국 백년가게<br>대구맛집 BEST 5</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox" style="display: none;">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1666923230933392.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">다시 활기를 되찾는,<br>서울 명동 맛집 6</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox" style="display: none;">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1666839560605358.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">한입 물면 육즙 가득<br>수제 만두 맛집 BEST 5</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox" style="display: none;">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1666674243869320.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">맛집탐방하러 쇼핑몰가요~<br>서울 쇼핑스팟맛집 6</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox" style="display: none;">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1666577000795287.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">가슴을 울리는 재즈의 선율<br>서울 재즈바 BEST 5</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox" style="display: none;">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1666333974177273.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">태양과 낭만의 파라다이스!<br>신상 타이 맛집 BEST</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox" style="display: none;">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1666069433158249.jpeg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">대한민국 백년가게<br>전남맛집 BEST 5</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox" style="display: none;">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1665971148836216.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">고즈넉한 힐링 스팟!<br>서순라길 맛집 BEST 5</h5>
          </div>
        </div>
      </div>
      <div class="col blogBox moreBox" style="display: none;">
        <div class="card">
          <img src="https://img.siksinhot.com/seeon/1665623410765184.jpg" width='286' height='286' class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">화려하고 강렬한 태양의 맛<br>멕시칸 타코 맛집 5</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-5 container" id="loadMore">
    <a href="#" style="text-decoration:none;">더보기 ⬇️</a>
  </div>
  <!--footer-->
  <hr>
  <div>
    <footer class="text-center mt-5">
      Django-project by 이호빈,김지연,이상백, 이은진
    </footer>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
<script src="/static/js/asd.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</html>