{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#" target="_blank">프로필</a>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  {% if user.profile %}
                    <img src="{{ user.profile.url }}">
                  {% else %}
                    <img alt="Image placeholder" src="{% static 'profile.jpeg' %}">
                  {% endif %}
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{ user.username }}</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 480px; background-image: url(https://i.pinimg.com/564x/ce/8b/68/ce8b68582fa808af16dd9e7d28866e8f.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-25"></span>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    {% if user.profile %}
                      <img src="{{ user.profile.url }}" style="width:72px; height:72px;" class="rounded-circle">
                    {% else %}
                      <img src="{% static 'profile.jpeg' %}" style="width:72px; height:72px;" class="rounded-circle">
                    {% endif %}
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info mr-4">연결</a>
                <a href="#" class="btn btn-sm btn-default float-right">메시지</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{ user.following.count }}</span>
                      <span class="description">팔로우</span>
                    </div>
                    <div>
                      <span class="heading">{{ user.follower.count }}</span>
                      <span class="description">팔로워</span>
                    </div>
                    <div>
                      <span class="heading">{{ user.comment_set.count }}</span>
                      <span class="description">작성한 댓글</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">계정</h3>
                </div>
                <div class="col-4 text-right">
                  {% if request.user == user %}
                    <a href="{% url 'accounts:update' user.pk %}" class="btn btn-sm btn-outline-primary" style="background-color: lightskyblue; color:ghostwhite">프로필 수정하기</a>
                  {% endif %}
                  <div>
                    {% if request.user != user %}
                      <div>
                        <form action="{% url 'accounts:follow' user.pk %}" method="POST">
                          {% csrf_token %}
                          {% if request.user in user.follower.all %}
                            <input class="btn btn-sm btn-outline-primary" style="background-color: lightskyblue; color:ghostwhite" type="submit" value="팔로워취소">
                          {% else %}
                            <input class="btn btn-sm btn-outline-primary" style="background-color: lightskyblue; color:ghostwhite" type="submit" value="팔로워">
                          {% endif %}
                        </form>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">내정보</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">아이디</label>
                        <p>{{user.username}}</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">이메일</label>
                        <p>{{user.email}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">성</label>
                        <p>{{user.last_name}}</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">이름</label>
                        <p>{{user.first_name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-2">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">연락처 정보</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">연락처</label>
                        <p>{{ user.contact }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">주소</label>
                        <p>{{ user.address }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">도시</label>
                        <p>{{ user.city }}</p>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-country">국가</label>
                        <p>{{ user.country }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-2">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">자기소개</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>간단한 자기소개</label>
                    <p>
                      {{ user.about_me}}</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6 m-auto text-center">
        <div class="copyright">
          <p>Django-project by 이호빈,김지연,이상백
          </p>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}
