{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="container d-flex justify-content-center">
              <div class="col-md-3">
                <img src="{% static '밥사줘.png' %}" class="img-fluid" alt="Sample image">
              </div>
            </div>
            <div class="container d-flex flex-column">
              <p class="text-center text-secondary">아이디와 비밀번호 입력없이
                <span class="d-flex flex-column">밥사조앱으로 로그인할 수 있어요</span></p>
            </div>
            <!-- Email input -->
            <button type="submit" id="form3Example4" class="form-control form-control-lg" style="font-size: 18px; background-color: burlywood; color:white;"><img class="now " src="{% static '밥사줘.png' %}" style="width:30px; height:30px; background-image: linear-gradient( to bottom, transparent 70%, burlywood 30%, white 79%);">
              밥사조 앱 로그인</button>
            <hr>
            <p class="text-center text-secondary">아이디와 비밀번호로 로그인할 수 있어요</p>
            <div class="d-flex flex-column mb-0">
              <input type="" id="form3Example3" class="form-control form-control-lg" placeholder="아이디" style="font-size: 18px;" name="username"/>
              <label class="form-label" for="form3Example3"></label>

              <!-- Password input -->
              <div class="form-outline p-0">
                <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="비밀번호는 8자~20자" style="font-size: 18px;" name="password1"/>
                <label class="form-label" for="form3Example4"></label>
              </div>
            </div>
            <div class="p-0">
              <button type="submit" id="form3Example4" class="form-control form-control-lg" style="font-size: 18px;">로그인</button>
              <label class="form-label" for="form3Example4"></label>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
                <label class="form-check-label" for="form2Example3">
                  아이디저장
                </label>
              </div>
              <a href="#!" class="text-body">비밀번호를 잊으셨나요?</a>
            </div>

            <div class="text-center mt-4 pt-2">
              <!-- <button type="submit" class="btn btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">로그인</button> -->

              <p class="small fw-bold mt-2 pt-1 mb-0">계정 없으세요?
                <a href="{% url 'accounts:signup'%}" class="link-danger">등록하러 가기</a>
              </p>
            </div>
            <div class="container">
              <div class="mb-3 mt-3" style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                <span style="font-size: 20px; background-color: white; padding: 0 10px;">
                  간편 로그인
                </span>
                <div class="d-flex flex-row align-items-center justify-content-center mb-4">
                  <button type="button" class="btn btns btn-floating mx-1 fs-4">
                    <i class="bi bi-facebook"></i>
                  </button>

                  <button type="button" class="btn btns btn-floating mx-1 fs-4">
                    <i class="bi bi-twitter"></i>
                  </button>

                  <button type="button" class="btn btns btn-floating mx-1 fs-4">
                    <i class="bi bi-google"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Right -->
  </div>
</section>

{% endblock %}